/*
 * Nandu - Centralized Styles
 */

.nandu-list-item {
  transition: background-color 150ms ease-in-out;
  border-radius: 6px;
}

.nandu-list-item:hover {
  background-color: alpha(currentColor, 0.05);
}

.nandu-list-item button.flat:hover {
  background-color: alpha(currentColor, 0.08);
}
