/*
 * Nandu - Centralized Styles
 */

:root {
  --alpha-default: 0.05;
  --alpha-strong: 0.08;
  --padding: 16px;
  --radius: 16px;
  --stack-gap: 8px;
}

.nandu-list-item button.flat:hover {
  background-color: alpha(currentColor, var(--alpha-strong));
}

.nandu-titlebar-box {
  background-color: alpha(currentColor, var(--alpha-default));
  padding-left: var(--padding);
  padding-right: var(--padding);
  border-radius: var(--radius);
}

.nandu-expander-list-content {
  margin-top: var(--stack-gap);
  border-radius: var(--radius);
}
